.banner {
	padding: 30px;	
	height: 90vh;

	background-color: var(--color-white);
	color: var(--color-black);
}

.banner p mark {
	border: 2px solid var(--color-black);
	background-color: var(--color-white);
	color: var(--color-black);
	
	padding: 3px;
	transition: background-color 0.3s ease;
}

.banner p mark:hover {
	background-color: var(--color-black);
	color: var(--color-white);
}

.wrapper {
	display: flex;
}

.title {
	font-weight: 700;
	font-size: 6rem;
}

.banner-image {
	border: 2px solid var(--color-black);
	border-radius: 100% 100% 0 0;
	height: 60vh;	
	margin-top: 30px;
}

.sub-banner-image {
	border-radius: 0 0 50% 0;
	width: 300px;
}

.sub-banner .legend {
	font-size: 5rem;
	padding-top: 10%;
	color: var(--color-black);
}

.products {
	margin-top: 40px;
	margin-bottom: 40px; 
}

.row-products {
	display: flex;
}

.card, .card img {
	margin: 10px;
	border: 2px solid var(--color-black);
}

.card p {
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
	padding: 10px;
}

@media (max-width: 1100px) {
	.row-products {
		display: table;
		margin: 0 auto;
	}
	.card {
		width: 100%;
	}
	.container {
		margin: 0;
		width: 100%;
	}
}

