html {
	scroll-behavior: smooth;
}

.banner {
	/* padding: 30px;	 */
	/* height: 90vh; */
  /* margin: 5% 0 15% 0; */
	margin: 7% 0;
	background-color: var(--color-white);
	color: var(--color-black);
}

.banner p mark {
	border: 2px solid var(--color-white);
	background-color: var(--color-black);
	color: var(--color-white);
	
	padding: 3px;
	transition: background-color 0.3s ease;
}

.wrapper {
	display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
	justify-content: center;
}

.title {
	font-weight: 700;
	font-size: 6rem;
  text-align: start;
  margin: auto;
	padding-bottom: 20px;
}

.banner img {
  width: 100%; 
  border: 2px solid var(--color-black);
	border-radius: 100% 100% 0 0;
	margin-bottom: 20px;
}

@media (max-width: 600px) {
  .banner img {
    display: none;
  }
}

.sub-banner-image {
	border-radius: 0 0 50% 0;
	width: 300px;
}

.sub-banner .legend {
	font-size: 5rem;
	padding-top: 10%;
	color: var(--color-black);
}

.products {
	margin: 10% 0;
}

.card, .card img {
	margin: 10px;
	border: 2px solid var(--color-black);
}

.card p {
	text-align: center;
	font-weight: 700;
	font-size: 3rem;
	padding: 10px;
}
