body {
  font-family: 'PT Serif', serif;
  font-size: 2rem;
  font-weight: 400;
}

nav {
  background-color: var(--color-blue);
  height: 10vh;
  padding: 0.5rem 0;
  font-weight: 500;
}

.nav-brand {
  color: var(--color-dark-yellow);
  font-size: 4rem;
  font-family: 'Sacramento', sans-serif;
  text-decoration: none; 
}

.nav-links {
  float: right;
}

nav ul {
  padding: 1.5rem 0; 
}

nav ul li {
  display: inline;
  
}

nav ul li a {
  color: var(--color-gray);
  text-decoration: none;
  margin-right: 40px;
  
  transition: color 0.2s;
}

nav ul li a:hover {
  color: var(--color-white);

}